.sidebar{
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 350px;
	background: #2b2b2b;
	overflow: auto;
}

.sidebar_text{
	color: #ffffff; 
	margin-top: 10px; 
	font-size: 20px; 
	text-align: center; 
	font-family: 'Lato', sans-serif;
	font-weight: lighter;
}

.sidebar_button{
	background: #2b2b2b;
	height: 50px;
	border: 0;
	color: #ffffff;
	font-size: 20px;
	margin-top: 10px;
	padding-top: 10px;
	padding-left: 20px;
	text-align: left;
	vertical-align: middle;
	font-family: 'Lato', sans-serif;
	font-weight: lighter;

}

.sidebar_glyph{
	margin-right: 40px;
	border: 50px;
	border-color: #ffffff;
}

.main_frame{
	position: absolute;
	top: 0;
	bottom: 5px;
	left: 350px;
	right: 0;
	border: 0;
	margin:0;
	padding: 0;
}

.main_heading{
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	margin-left: 20px;
	font-weight: lighter;
}

.research_dt{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin-top: 30px;
	margin-left: 20px;
	font-weight: normal;
}

.research_dd{
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	margin-left: 20px;
	font-weight: lighter;
}

.teaching_dt{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin-top: 30px;
	margin-left: 20px;
	font-weight: normal;
}

.teaching_dd{
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	margin-left: 20px;
	font-weight: lighter;
}

.teaching_li{
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.awards_li{
    font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.grants_li{
    font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	margin-left: 20px;
	margin-bottom: 40px;
}

.contact_h4{
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	margin-left: 40px;
	margin-top: 40px;
}

.contact_h5{
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	margin-left: 40px;
}

.contact_h6{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin-left: 40px;
}

.home_h4{
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	margin-left: 40px;
	margin-top: 40px;
}

.home_h5{
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	margin-left: 40px;
}

.home_h6{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin-left: 40px;
}

.home_li{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin-left: 20px;
}

.education_li{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin-left: 20px;
}

.contact_glyph{
	margin-right: 40px;
}

.table_heading{
	width: 100%;
	margin-left: 0;
	padding: 10px;
	font-size: 25px;
	font-family: 'Lato', sans-serif;
	font-weight: lighter;
}

.table_row{
	width: 100%;
	margin-left: 0;
	padding: 5px;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}

.table_col{
	text-align: center;
}

.publications_dt{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin-top: 30px;
	margin-left: 20px;
	font-weight: normal;
}

.publications_dd{
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	margin-left: 20px;
	font-weight: lighter;
}

.publications_li{
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	margin-left: 20px;
	margin-bottom: 20px;
}

td{
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	padding: 5px;
}

.patents_li{
    font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	margin-left: 20px;
	margin-bottom: 40px;
}